body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(104, 102, 101);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.card {
  display: flex;
  width: 80%;
  max-width: 1200px;
  box-shadow: 4px 8px rgba(48, 3, 3, 0.3);
  background: rgba(216, 196, 196, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.right-section {
  flex: 2;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  color: #000;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(207, 21, 21);
  border-radius: 5px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  padding: 15px;
  background-color: rgb(68, 173, 168);
  color: rgb(8, 1, 1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  color: #fff;
  background-color: #222;
}

.alert {
  display: none;
  color: red;
  margin-top: 20px;
  font-size: 16px;
}
